.my-author {
    top: 1rem;
    left: 1.5rem;
    background: rgba(255, 0, 0, 0.258);
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h4 {
        margin: 0;
        text-transform: capitalize;
    }

    & img{
        width: 3rem;
        aspect-ratio: 1;
    }
}


.like-button {
    width: 20%;
    padding: 0.3rem 0.7rem;

    & i {
        font-size: 2rem;
    }

    & h4 {
        margin: 0;
        text-transform: uppercase;
    }
}

.like-counter {

    & h3{
        margin: 0;
        margin: 0 0.2rem
    }

    & h4{
        margin: 0;
    }

}



.liked{
    color: blue;
}

.like-counter{
    color: black !important;
}